body {
  font-family: "Open Sans", sans-serif; }
  body .navbar-brand {
    font-family: "Itim", cursive; }
  body .mainContentTitle {
    font-family: "Itim", cursive;
    text-align: center; }
  body .mainContent {
    margin: 20px 20px 0 20px;
    padding: 10px; }
  body .bottomContent {
    font-family: "Open Sans", sans-serif; }
    body .bottomContent .blockContent {
      padding: 25px; }
      body .bottomContent .blockContent h2.blockContentTitle {
        text-align: center;
        padding: 10px;
        font-family: "Itim", cursive;
        text-align: center; }
      body .bottomContent .blockContent .blockContent {
        display: none; }
  body .locationContent {
    margin-bottom: 60px; }
    body .locationContent .locationContentInner {
      margin: 0 20px;
      padding: 30px 10px; }
      body .locationContent .locationContentInner .locationTitle {
        font-family: "Itim", cursive;
        text-align: center; }
    body .locationContent .map-responsive {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0; }
      body .locationContent .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute; }
  body .mailingListFom {
    background-color: #D7FAE3; }
    body .mailingListFom .mailingListFomInner {
      margin: 60px 20px;
      padding: 30px 10px; }
      body .mailingListFom .mailingListFomInner .mailingListTitle {
        font-family: "Itim", cursive;
        text-align: center; }
  body #footer {
    color: white;
    background-color: #4F93A9; }
    body #footer a {
      color: white; }
    body #footer .inner-footer {
      margin: 20px 20px 0 20px; }
